
<div class="row">
  <div class="col-xs-9 col-xs-offset-1">
    <h1>新着日記</h1>
    <div class="diary-box-main">
      <% @diaries.each do |diary| %>
      <div class="diary-box-sub">
        <div class="diary-box-text">
          <p><%= diary.title %></p>
          <p><%= diary.body%></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-2">
  <!--サーチ機能が入る場所-->
    <div class="diary-tag-main">
      <h3 style="text-align: center; border-bottom: 2px solid #000000; margin:10px;">タグ一覧</h3>
      <ul>
      <% @tags.each do |tag| %>
      <li class="tag-link"><%= link_to tag.name, "#" %></li>
      <% end %>
      </ul>
    </div>
    <div class="diary-rank-main">
      <h3 style="text-align: center; border-bottom: 2px solid #000000; margin:10px;">日記ランキング</h3>
      <ul>
      <% @tags.each do |tag| %>
      <li class="tag-link"><%= link_to tag.name, "#" %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>