<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>お気に入り日記</h1>
    <%= link_to "お気に入り履歴",user_favorites_path(@user), class: "btn btn-default", style: "margin-bottom:30px;" %>
    <%= link_to "コメント履歴",user_comments_path(@user), class: "btn btn-default", style: "margin-bottom:30px;" %>
    <%= render "layouts/diary_index", diaries: @diaries %>
  </div>
</div>