<h1 style="margin-left:100px;">フォロー</h1>

<%= link_to "フォロー",user_follows_path(@user), class: "btn btn-default", style: "margin-left:100px;" %>
<%= link_to "フォロワー",user_followers_path(@user), class: "btn btn-default" %>

<div>
  <% @follows.each do |follow| %>
    <%= link_to attachment_image_tag(follow, :profile_image, :fill, 200, 200, format: 'png', fallback: "no-image.png", size:'200x200', class: "circle"), user_path(follow) %>
  <% end %>
</div>