<div class="about-box">
  <div class="about-box__mv">
    <h1 style="padding:400px 50px 50px 50px; text-shadow: 0 0 30px #000; color:#FFF;">あなたは自分の記憶力に満足していますか?</h1>
    <p id="yes" style="text-shadow: 0 0 30px #000; color:#FFF;" onClick="Click(1)">はい</p>
    <p id="no" style="text-shadow: 0 0 30px #000; color:#FFF;" onClick="Click(2)">いいえ</p>
  </div>

  <div class="about-box__can">
    <h1 style="padding-top:100px;">Forgineerではこんな事が出来ます</h1>
    <p>$ あなたが投稿した記憶を他のユーザーに共有</p>
    <p>__ 使ったコードを忘却しないように日記感覚で気軽に残すことができます。</p>
    <p>__ 忘れた技術を調べ直すのではなく自分の言葉で残しておくと理解がしやすく、記憶に残りやすいので生産性の向上が期待できます。</p>
    <p>$ 他のユーザーが投稿した記憶を参考に思い出す</p>
    <p>__ あなたが忘れてしまった記憶は他のユーザーも忘れないように日記に残しているかもしれません。この機会です。検索機能を使って探してみましょう。</p>
    <p>$ コメント機能を使う</p>
    <p>__ わからなければコメントで質問してみましょう。お互い復習、理解することで記憶力はより強固なものになるでしょう。</p>
    <p>__ コードの軽量化は大事です。修正できそうなコードがあったら提案してみましょう。</p>
    <p>$ お気に入り機能を使う</p>
    <p>__ 忘れたくない、参考にしたい日記をお気に入りに追加しよう。お気に入りに追加した日記は履歴からいつでも閲覧できます。</p>
    <p>$ フォロー&フォロワー機能を使う</p>
    <p>__ 気に入ったユーザーをフォローしていつでもそのユーザーの日記を見れるようにしよう。</p>
    <p>$ 人気な日記をチェック</p>
    <p>__ 日記ランキングからチェックして人気な日記の記憶をインプットしよう</p>
  </div>

  <div class="about-box__let">
    <%= link_to "Let's Enjoy Programming!", root_path , style: "color: white;"%>
  </div>
</div>

<script>
  //div要素をゆっくり表示
  $('div').hide().fadeIn('slow');

  function Click(btn) {
    if (btn == 1) {
      //onClick="Click1"が押された時
      $('p').hide().fadeIn('slow');
      document.getElementById("yes").innerHTML = "素晴らしい記憶力をお持ちなんですね！<br>その記憶をForgineerに残してみませんか？";
      document.getElementById("no").style.display = "none";
    } else if (btn == 2) {
      //onClick="Click2"が押された時
      $('p').hide().fadeIn('slow');
      document.getElementById("no").innerHTML = "記憶力に自身がなくても大丈夫です！<br>Forgineerに記憶を残して必要なときにアウトプットしてみましょう！";
      document.getElementById("yes").style.display = "none";
    }
  }
</script>