/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;500;900&display=swap');


//初期固定設定
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}

th{
  white-space: nowrap;
}

h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
}

label{
  font-weight: normal !important;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 5px;
  vertical-align: middle;
}

#body{
  width: 100%;
}

body{
  background-image: image-url("back-image.png");
  min-width: 1000px;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.notice{
  font-size: 30px;
  color: green;
  margin-left: 100px;
}

//マイページ、フォロー&フォロワー
.circle{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
  margin: 30px;
}

//コメント色
.comment-name,.comment-name a{
  color: #147C0E
}

//お気に入り
.favorite{
  color: red;
}
.favorite:hover{
  animation: favorite 1s infinite;
  transform-origin: center;
}

//日記一覧ランキング
.fa-crown{
  text-shadow: 0 0 3px #000;
}

//トップ
.see-more{
  float:right;
  margin: 30px;
}

//ナビバー関連
.logo-box{
  display:inline-block;
}

.header-link{
  font-size:20px;
  margin: 0 10px;
}

.header-link a{
  color:black;
}

.navbar{
  margin: 0 auto;
}

.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}

//ドロワーメニュー
.sidebar-link{
  padding: 0 10px;
}

footer{
  width:100%;
  margin-top:50px;
  text-align: center;
}

//infoアイコン
.colored{
  font-size:80px;
  float:left;
  margin-right:20px;
  height: 400px;
}

//CSS-Animation
@keyframes fadeIn { //animetion-nameで設定した値を書く
  0% {opacity: 0; transform: translate3d(0, 20px, 0);} //アニメーション開始時は不透明度0%
  100% {opacity: 1; transform: translate3d(0, 0, 0);} //アニメーション終了時は不透明度100%
}

@keyframes favorite {
  0% { transform: none; }//アニメーション開始時は変更なし
  50% { transform: scale(1.2); }//アニメーション中間で大きさを1.1倍に
  100% { transform: none; }//アニメーション終了後は変更なし
}