/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;500;900&display=swap');


//初期固定設定
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}

h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
}

label{
  font-weight: normal !important;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 5px;
  vertical-align: middle;
}

#body{
  width: 100%;
}

body{
  background-image: image-url("back-image.png");
}

.container-fluid{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.notice{
  font-size: 30px;
  color: green;
  margin-left: 100px;
}

//マイページ、フォロー&フォロワー
.circle{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
  margin: 30px;
}

//コメント色
.comment-name,.comment-name a{
  color: #147C0E
}

//日記一覧ランキング
.fa-crown{
  text-shadow: 0 0 3px #000;
}

//トップ
.see-more{
  float:right;
  margin: 30px;
}

//ナビバー関連
.logo-box{
  display:inline-block;
}

.header-link{
  font-size:20px;
  margin: 0 10px;
}

.header-link a{
  color:black;
}

.navbar{
  margin: 0 auto;
}

.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}

//ドロワーメニュー
.sidebar-link{
  padding: 0 10px;
}