//_comment.html.erb

.comment-box{
  background-color: white;
  padding: 20px;
  border-radius: 1%;

  &__sub{
    width: 100%;
    max-height: 100%;
    display: inline-block;
    border-bottom: 1px solid #bebebe;
    margin: 10px 20px 0 0;
    padding: 10px;
  }

  &__text{
    width: 135%;
  }
}